.empty-cart img {
    width: 200px;
    height: auto;
}
.empty-cart {
    text-align: center;
}
.cart-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    /* box-shadow: 5px 5px 10px 0px black; */
}
.checkout {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.cart-image {
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-info {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 3px;
}
.cart-item img {
    padding: 10px;
    display: flex;
    align-self: center;
    height: 200px;
}
.cart-items {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 10px;
}
.checkout-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.checkout-buttons button {
    font-size: 18px;
    font-weight: bolder;
    padding: 5px 20px;
}
.checkout-buttons button:hover {
    cursor: pointer;
}