.search-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
}
.search button {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px 15px;
    background-color: gray;
}
.search button:hover {
    cursor: pointer;
}
.search input {
    width: 250px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 0px solid black;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.search input:focus {
    outline: none;
}