* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.App {
    display: flex;
    flex-flow: column;
    height: 100vh;
}
.cart {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: red;
    visibility: collapse;
}
.notification {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    top: calc(99% - 40px);
    left: calc(97% - 250px);
    height: 40px;
    width: 250px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#checkout {
    border: 1px solid black;
    background-color: white;
    width: 95%;
    height: 95%;
}
#checkout-exit {
    background-color: red;
    width: 50px;
    height: 50px;
}
.cart-items {
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.cart-item {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
main {
    height: 800px;
    overflow-y: scroll;
    display: block;
}
.visible-products {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
@media (min-width: 600px) {
    .visible-products {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    .visible-products {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {
    .visible-products {
        grid-template-columns: repeat(4, 1fr);
    }
}
.product {
    outline: 1px solid black;
    width: 100%;
    padding: 20px;
}
#products-container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.product-img {
    overflow: hidden;
    width: 100%;
    height: 200px;
    text-align: center;
}
.product-img img {
    height: 100%;
}

.product-title {
}

.product-button {
    overflow: hidden;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}
.product-button button {
    cursor: pointer;
}